In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\moham\anaconda3\lib\site-packages (1.5.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pytz>=2020.1 in c:\users\moham\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\moham\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\moham\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\moham\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
pip install requests

Requirement already satisfied: requests in c:\users\moham\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\moham\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\moham\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\moham\anaconda3\lib\site-packages (from requests) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\moham\anaconda3\lib\site-packages (from requests) (2022.12.7)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import requests
download_url = "https://covid.ourworldindata.org/data/owid-covid-data.csv"
target_csv_path = "covid_data.csv"

response = requests.get(download_url)
response.raise_for_status()
with open(target_csv_path,"wb") as f:
    f.write(response.content)

print("download ready.")

download ready.

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("covid_data.csv", low_memory=False)

In [6]:
#-------------------------------------------------{1}-------------------------------------------------

In [7]:
print(f"Number of rows : {df.shape[0]}")
print(f"Number of columns : {df.shape[1]}")

Number of rows : 311364
Number of columns : 67

In [8]:
#-------------------------------------------------{2}-------------------------------------------------

In [9]:
# View the first 10 rows
print(df.head(10))

  iso_code continent     location        date  total_cases  new_cases  \
0      AFG      Asia  Afghanistan  2020-01-03          NaN        0.0
1      AFG      Asia  Afghanistan  2020-01-04          NaN        0.0
2      AFG      Asia  Afghanistan  2020-01-05          NaN        0.0
3      AFG      Asia  Afghanistan  2020-01-06          NaN        0.0
4      AFG      Asia  Afghanistan  2020-01-07          NaN        0.0
5      AFG      Asia  Afghanistan  2020-01-08          NaN        0.0
6      AFG      Asia  Afghanistan  2020-01-09          NaN        0.0
7      AFG      Asia  Afghanistan  2020-01-10          NaN        0.0
8      AFG      Asia  Afghanistan  2020-01-11          NaN        0.0
9      AFG      Asia  Afghanistan  2020-01-12          NaN        0.0

   new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  ...  \
0                 NaN           NaN         0.0                  NaN  ...
1                 NaN           NaN         0.0                  NaN  ...
2                 NaN           NaN         0.0                  NaN  ...
3                 NaN           NaN         0.0                  NaN  ...
4                 NaN           NaN         0.0                  NaN  ...
5                 0.0           NaN         0.0                  0.0  ...
6                 0.0           NaN         0.0                  0.0  ...
7                 0.0           NaN         0.0                  0.0  ...
8                 0.0           NaN         0.0                  0.0  ...
9                 0.0           NaN         0.0                  0.0  ...

   male_smokers  handwashing_facilities  hospital_beds_per_thousand  \
0           NaN                  37.746                         0.5
1           NaN                  37.746                         0.5
2           NaN                  37.746                         0.5
3           NaN                  37.746                         0.5
4           NaN                  37.746                         0.5
5           NaN                  37.746                         0.5
6           NaN                  37.746                         0.5
7           NaN                  37.746                         0.5
8           NaN                  37.746                         0.5
9           NaN                  37.746                         0.5

   life_expectancy  human_development_index  population  \
0            64.83                    0.511  41128772.0
1            64.83                    0.511  41128772.0
2            64.83                    0.511  41128772.0
3            64.83                    0.511  41128772.0
4            64.83                    0.511  41128772.0
5            64.83                    0.511  41128772.0
6            64.83                    0.511  41128772.0
7            64.83                    0.511  41128772.0
8            64.83                    0.511  41128772.0
9            64.83                    0.511  41128772.0

   excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
0                                   NaN                          NaN
1                                   NaN                          NaN
2                                   NaN                          NaN
3                                   NaN                          NaN
4                                   NaN                          NaN
5                                   NaN                          NaN
6                                   NaN                          NaN
7                                   NaN                          NaN
8                                   NaN                          NaN
9                                   NaN                          NaN

   excess_mortality  excess_mortality_cumulative_per_million
0               NaN                                      NaN
1               NaN                                      NaN
2               NaN                                      NaN
3               NaN                                      NaN
4               NaN                                      NaN
5               NaN                                      NaN
6               NaN                                      NaN
7               NaN                                      NaN
8               NaN                                      NaN
9               NaN                                      NaN

[10 rows x 67 columns]

In [10]:
# View the last 5 rows
print(df.tail(5))

       iso_code continent  location        date  total_cases  new_cases  \
311359      ZWE    Africa  Zimbabwe  2023-05-13     264821.0        5.0
311360      ZWE    Africa  Zimbabwe  2023-05-14     264841.0       20.0
311361      ZWE    Africa  Zimbabwe  2023-05-15     264848.0        7.0
311362      ZWE    Africa  Zimbabwe  2023-05-16     264848.0        0.0
311363      ZWE    Africa  Zimbabwe  2023-05-17     264848.0        0.0

        new_cases_smoothed  total_deaths  new_deaths  new_deaths_smoothed  \
311359              10.286        5690.0         1.0                0.429
311360              10.714        5690.0         0.0                0.429
311361              10.286        5690.0         0.0                0.286
311362               9.429        5690.0         0.0                0.286
311363               8.143        5690.0         0.0                0.143

        ...  male_smokers  handwashing_facilities  hospital_beds_per_thousand  \
311359  ...          30.7                  36.791                         1.7
311360  ...          30.7                  36.791                         1.7
311361  ...          30.7                  36.791                         1.7
311362  ...          30.7                  36.791                         1.7
311363  ...          30.7                  36.791                         1.7

        life_expectancy  human_development_index  population  \
311359            61.49                    0.571  16320539.0
311360            61.49                    0.571  16320539.0
311361            61.49                    0.571  16320539.0
311362            61.49                    0.571  16320539.0
311363            61.49                    0.571  16320539.0

        excess_mortality_cumulative_absolute  excess_mortality_cumulative  \
311359                                   NaN                          NaN
311360                                   NaN                          NaN
311361                                   NaN                          NaN
311362                                   NaN                          NaN
311363                                   NaN                          NaN

        excess_mortality  excess_mortality_cumulative_per_million
311359               NaN                                      NaN
311360               NaN                                      NaN
311361               NaN                                      NaN
311362               NaN                                      NaN
311363               NaN                                      NaN

[5 rows x 67 columns]

In [11]:
#-------------------------------------------------{3}-------------------------------------------------

In [12]:
# for count/min/max.. :
print(df.describe())

        total_cases     new_cases  new_cases_smoothed  total_deaths  \
count  2.753350e+05  3.026550e+05        3.013910e+05  2.546350e+05
mean   5.767156e+06  1.073397e+04        1.077678e+04  8.061661e+04
std    3.600088e+07  1.030085e+05        1.002455e+05  4.164645e+05
min    1.000000e+00  0.000000e+00        0.000000e+00  1.000000e+00
25%    6.565000e+03  0.000000e+00        1.143000e+00  1.210000e+02
50%    6.239700e+04  1.700000e+01        3.771400e+01  1.230000e+03
75%    6.419815e+05  5.230000e+02        6.310000e+02  1.064800e+04
max    7.664400e+08  7.460822e+06        6.410667e+06  6.932578e+06

          new_deaths  new_deaths_smoothed  total_cases_per_million  \
count  302735.000000        301505.000000            275335.000000
mean       95.740952            96.103652             88010.375666
std       600.706338           591.334247            138439.520139
min         0.000000             0.000000                 0.000000
25%         0.000000             0.000000              2039.082000
50%         0.000000             0.286000             20898.389000
75%         6.000000             6.714000            107810.942500
max     20027.000000         14677.857000            737554.506000

       new_cases_per_million  new_cases_smoothed_per_million  \
count          302655.000000                   301391.000000
mean              161.890445                      162.525589
std              1127.171598                      634.547240
min                 0.000000                        0.000000
25%                 0.000000                        0.246000
50%                 2.396000                       10.664000
75%                68.501000                      103.445000
max            228872.025000                    37241.781000

       total_deaths_per_million  ...   male_smokers  handwashing_facilities  \
count             254635.000000  ...  178514.000000           118181.000000
mean                 811.194069  ...      32.909969               50.790203
std                 1053.772688  ...      13.574379               31.957386
min                    0.000000  ...       7.700000                1.188000
25%                   50.398500  ...      22.600000               20.859000
50%                  338.621000  ...      33.100000               49.839000
75%                 1246.603000  ...      41.300000               83.241000
max                 6476.319000  ...      78.100000              100.000000

       hospital_beds_per_thousand  life_expectancy  human_development_index  \
count               212982.000000    286343.000000            233878.000000
mean                     3.097160        73.717721                 0.722479
std                      2.548461         7.397216                 0.148990
min                      0.100000        53.280000                 0.394000
25%                      1.300000        69.590000                 0.602000
50%                      2.500000        75.050000                 0.740000
75%                      4.200000        79.460000                 0.829000
max                     13.800000        86.750000                 0.957000

         population  excess_mortality_cumulative_absolute  \
count  3.113640e+05                          1.066900e+04
mean   1.281154e+08                          4.739668e+04
std    6.596972e+08                          1.384241e+05
min    4.700000e+01                         -3.772610e+04
25%    4.490020e+05                          2.780000e+01
50%    5.882259e+06                          4.530999e+03
75%    2.830170e+07                          3.159700e+04
max    7.975105e+09                          1.282260e+06

       excess_mortality_cumulative  excess_mortality  \
count                 10669.000000      10669.000000
mean                      9.538903         12.633550
std                      12.914011         26.344219
min                     -44.230000        -95.920000
25%                       0.560000         -1.200000
50%                       7.750000          6.490000
75%                      15.360000         18.070000
max                      76.550000        377.300000

       excess_mortality_cumulative_per_million
count                             10669.000000
mean                               1477.149682
std                                1840.907839
min                               -1984.281600
25%                                  24.645111
50%                                 900.418500
75%                                2399.257000
max                               10291.122000

[8 rows x 62 columns]

In [13]:
# for unique values:
df.describe(include = object)

       iso_code continent   location        date      tests_units
count    311364    296584     311364      311364           106788
unique      255         6        255        1234                4
top         ARG    Africa  Argentina  2022-04-20  tests performed
freq       1234     70168       1234         255            80099

In [14]:
#-------------------------------------------------{4}-------------------------------------------------

In [15]:
# number of columns before:
df.shape[1]

67

In [16]:
df.drop(['new_deaths_smoothed', 'new_cases_per_million', 'total_cases_per_million'], axis = 1 , inplace=True)

In [17]:
# number of columns after:
df.shape[1]

64

In [18]:
#-------------------------------------------------{5}-------------------------------------------------

In [19]:
#before:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311364 entries, 0 to 311363
Data columns (total 64 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    311364 non-null  object
 1   continent                                   296584 non-null  object
 2   location                                    311364 non-null  object
 3   date                                        311364 non-null  object
 4   total_cases                                 275335 non-null  float64
 5   new_cases                                   302655 non-null  float64
 6   new_cases_smoothed                          301391 non-null  float64
 7   total_deaths                                254635 non-null  float64
 8   new_deaths                                  302735 non-null  float64
 9   new_cases_smoothed_per_million              301391 non-null  float64
 10  total_deaths_per_million                    254635 non-null  float64
 11  new_deaths_per_million                      302735 non-null  float64
 12  new_deaths_smoothed_per_million             301505 non-null  float64
 13  reproduction_rate                           184817 non-null  float64
 14  icu_patients                                36030 non-null   float64
 15  icu_patients_per_million                    36030 non-null   float64
 16  hosp_patients                               36823 non-null   float64
 17  hosp_patients_per_million                   36823 non-null   float64
 18  weekly_icu_admissions                       9452 non-null    float64
 19  weekly_icu_admissions_per_million           9452 non-null    float64
 20  weekly_hosp_admissions                      21888 non-null   float64
 21  weekly_hosp_admissions_per_million          21888 non-null   float64
 22  total_tests                                 79387 non-null   float64
 23  new_tests                                   75403 non-null   float64
 24  total_tests_per_thousand                    79387 non-null   float64
 25  new_tests_per_thousand                      75403 non-null   float64
 26  new_tests_smoothed                          103965 non-null  float64
 27  new_tests_smoothed_per_thousand             103965 non-null  float64
 28  positive_rate                               95927 non-null   float64
 29  tests_per_case                              94348 non-null   float64
 30  tests_units                                 106788 non-null  object
 31  total_vaccinations                          74952 non-null   float64
 32  people_vaccinated                           71802 non-null   float64
 33  people_fully_vaccinated                     68318 non-null   float64
 34  total_boosters                              43583 non-null   float64
 35  new_vaccinations                            61685 non-null   float64
 36  new_vaccinations_smoothed                   167733 non-null  float64
 37  total_vaccinations_per_hundred              74952 non-null   float64
 38  people_vaccinated_per_hundred               71802 non-null   float64
 39  people_fully_vaccinated_per_hundred         68318 non-null   float64
 40  total_boosters_per_hundred                  43583 non-null   float64
 41  new_vaccinations_smoothed_per_million       167733 non-null  float64
 42  new_people_vaccinated_smoothed              167798 non-null  float64
 43  new_people_vaccinated_smoothed_per_hundred  167798 non-null  float64
 44  stringency_index                            197650 non-null  float64
 45  population_density                          264217 non-null  float64
 46  median_age                                  245720 non-null  float64
 47  aged_65_older                               237135 non-null  float64
 48  aged_70_older                               243257 non-null  float64
 49  gdp_per_capita                              240828 non-null  float64
 50  extreme_poverty                             155123 non-null  float64
 51  cardiovasc_death_rate                       241262 non-null  float64
 52  diabetes_prevalence                         253574 non-null  float64
 53  female_smokers                              180976 non-null  float64
 54  male_smokers                                178514 non-null  float64
 55  handwashing_facilities                      118181 non-null  float64
 56  hospital_beds_per_thousand                  212982 non-null  float64
 57  life_expectancy                             286343 non-null  float64
 58  human_development_index                     233878 non-null  float64
 59  population                                  311364 non-null  float64
 60  excess_mortality_cumulative_absolute        10669 non-null   float64
 61  excess_mortality_cumulative                 10669 non-null   float64
 62  excess_mortality                            10669 non-null   float64
 63  excess_mortality_cumulative_per_million     10669 non-null   float64
dtypes: float64(59), object(5)
memory usage: 152.0+ MB

In [20]:
df = df.rename(columns={'date': 'Date', 'location': 'Country', 'continent': 'Continent', 'iso_code': 'ISO_code'})

In [21]:
#after:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311364 entries, 0 to 311363
Data columns (total 64 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   ISO_code                                    311364 non-null  object
 1   Continent                                   296584 non-null  object
 2   Country                                     311364 non-null  object
 3   Date                                        311364 non-null  object
 4   total_cases                                 275335 non-null  float64
 5   new_cases                                   302655 non-null  float64
 6   new_cases_smoothed                          301391 non-null  float64
 7   total_deaths                                254635 non-null  float64
 8   new_deaths                                  302735 non-null  float64
 9   new_cases_smoothed_per_million              301391 non-null  float64
 10  total_deaths_per_million                    254635 non-null  float64
 11  new_deaths_per_million                      302735 non-null  float64
 12  new_deaths_smoothed_per_million             301505 non-null  float64
 13  reproduction_rate                           184817 non-null  float64
 14  icu_patients                                36030 non-null   float64
 15  icu_patients_per_million                    36030 non-null   float64
 16  hosp_patients                               36823 non-null   float64
 17  hosp_patients_per_million                   36823 non-null   float64
 18  weekly_icu_admissions                       9452 non-null    float64
 19  weekly_icu_admissions_per_million           9452 non-null    float64
 20  weekly_hosp_admissions                      21888 non-null   float64
 21  weekly_hosp_admissions_per_million          21888 non-null   float64
 22  total_tests                                 79387 non-null   float64
 23  new_tests                                   75403 non-null   float64
 24  total_tests_per_thousand                    79387 non-null   float64
 25  new_tests_per_thousand                      75403 non-null   float64
 26  new_tests_smoothed                          103965 non-null  float64
 27  new_tests_smoothed_per_thousand             103965 non-null  float64
 28  positive_rate                               95927 non-null   float64
 29  tests_per_case                              94348 non-null   float64
 30  tests_units                                 106788 non-null  object
 31  total_vaccinations                          74952 non-null   float64
 32  people_vaccinated                           71802 non-null   float64
 33  people_fully_vaccinated                     68318 non-null   float64
 34  total_boosters                              43583 non-null   float64
 35  new_vaccinations                            61685 non-null   float64
 36  new_vaccinations_smoothed                   167733 non-null  float64
 37  total_vaccinations_per_hundred              74952 non-null   float64
 38  people_vaccinated_per_hundred               71802 non-null   float64
 39  people_fully_vaccinated_per_hundred         68318 non-null   float64
 40  total_boosters_per_hundred                  43583 non-null   float64
 41  new_vaccinations_smoothed_per_million       167733 non-null  float64
 42  new_people_vaccinated_smoothed              167798 non-null  float64
 43  new_people_vaccinated_smoothed_per_hundred  167798 non-null  float64
 44  stringency_index                            197650 non-null  float64
 45  population_density                          264217 non-null  float64
 46  median_age                                  245720 non-null  float64
 47  aged_65_older                               237135 non-null  float64
 48  aged_70_older                               243257 non-null  float64
 49  gdp_per_capita                              240828 non-null  float64
 50  extreme_poverty                             155123 non-null  float64
 51  cardiovasc_death_rate                       241262 non-null  float64
 52  diabetes_prevalence                         253574 non-null  float64
 53  female_smokers                              180976 non-null  float64
 54  male_smokers                                178514 non-null  float64
 55  handwashing_facilities                      118181 non-null  float64
 56  hospital_beds_per_thousand                  212982 non-null  float64
 57  life_expectancy                             286343 non-null  float64
 58  human_development_index                     233878 non-null  float64
 59  population                                  311364 non-null  float64
 60  excess_mortality_cumulative_absolute        10669 non-null   float64
 61  excess_mortality_cumulative                 10669 non-null   float64
 62  excess_mortality                            10669 non-null   float64
 63  excess_mortality_cumulative_per_million     10669 non-null   float64
dtypes: float64(59), object(5)
memory usage: 152.0+ MB

In [22]:
#-------------------------------------------------{6}-------------------------------------------------

In [23]:
continent_list = df['Continent'].unique().tolist()
print(continent_list)

['Asia', nan, 'Europe', 'Africa', 'Oceania', 'North America', 'South America']

In [24]:
#-------------------------------------------------{7}-------------------------------------------------

In [25]:
from sklearn.impute import SimpleImputer

In [26]:
imputer = SimpleImputer(strategy='constant')
df2 = pd.DataFrame(imputer.fit_transform(df),columns=df.columns)

In [27]:
#here we can see that the 'NaN' values are replaced with 'missing_value'
print(df2)

       ISO_code Continent      Country        Date    total_cases new_cases  \
0           AFG      Asia  Afghanistan  2020-01-03  missing_value       0.0
1           AFG      Asia  Afghanistan  2020-01-04  missing_value       0.0
2           AFG      Asia  Afghanistan  2020-01-05  missing_value       0.0
3           AFG      Asia  Afghanistan  2020-01-06  missing_value       0.0
4           AFG      Asia  Afghanistan  2020-01-07  missing_value       0.0
...         ...       ...          ...         ...            ...       ...
311359      ZWE    Africa     Zimbabwe  2023-05-13       264821.0       5.0
311360      ZWE    Africa     Zimbabwe  2023-05-14       264841.0      20.0
311361      ZWE    Africa     Zimbabwe  2023-05-15       264848.0       7.0
311362      ZWE    Africa     Zimbabwe  2023-05-16       264848.0       0.0
311363      ZWE    Africa     Zimbabwe  2023-05-17       264848.0       0.0

       new_cases_smoothed   total_deaths new_deaths  \
0           missing_value  missing_value        0.0
1           missing_value  missing_value        0.0
2           missing_value  missing_value        0.0
3           missing_value  missing_value        0.0
4           missing_value  missing_value        0.0
...                   ...            ...        ...
311359             10.286         5690.0        1.0
311360             10.714         5690.0        0.0
311361             10.286         5690.0        0.0
311362              9.429         5690.0        0.0
311363              8.143         5690.0        0.0

       new_cases_smoothed_per_million  ...   male_smokers  \
0                       missing_value  ...  missing_value
1                       missing_value  ...  missing_value
2                       missing_value  ...  missing_value
3                       missing_value  ...  missing_value
4                       missing_value  ...  missing_value
...                               ...  ...            ...
311359                           0.63  ...           30.7
311360                          0.656  ...           30.7
311361                           0.63  ...           30.7
311362                          0.578  ...           30.7
311363                          0.499  ...           30.7

       handwashing_facilities hospital_beds_per_thousand life_expectancy  \
0                      37.746                        0.5           64.83
1                      37.746                        0.5           64.83
2                      37.746                        0.5           64.83
3                      37.746                        0.5           64.83
4                      37.746                        0.5           64.83
...                       ...                        ...             ...
311359                 36.791                        1.7           61.49
311360                 36.791                        1.7           61.49
311361                 36.791                        1.7           61.49
311362                 36.791                        1.7           61.49
311363                 36.791                        1.7           61.49

       human_development_index  population  \
0                        0.511  41128772.0
1                        0.511  41128772.0
2                        0.511  41128772.0
3                        0.511  41128772.0
4                        0.511  41128772.0
...                        ...         ...
311359                   0.571  16320539.0
311360                   0.571  16320539.0
311361                   0.571  16320539.0
311362                   0.571  16320539.0
311363                   0.571  16320539.0

       excess_mortality_cumulative_absolute excess_mortality_cumulative  \
0                             missing_value               missing_value
1                             missing_value               missing_value
2                             missing_value               missing_value
3                             missing_value               missing_value
4                             missing_value               missing_value
...                                     ...                         ...
311359                        missing_value               missing_value
311360                        missing_value               missing_value
311361                        missing_value               missing_value
311362                        missing_value               missing_value
311363                        missing_value               missing_value

       excess_mortality excess_mortality_cumulative_per_million
0         missing_value                           missing_value
1         missing_value                           missing_value
2         missing_value                           missing_value
3         missing_value                           missing_value
4         missing_value                           missing_value
...                 ...                                     ...
311359    missing_value                           missing_value
311360    missing_value                           missing_value
311361    missing_value                           missing_value
311362    missing_value                           missing_value
311363    missing_value                           missing_value

[311364 rows x 64 columns]

In [28]:
#-------------------------------------------------{8}-------------------------------------------------

In [29]:
df3 = df2.groupby(['Date', 'Country'])[['total_cases', 'total_deaths', 'total_vaccinations']].sum().reset_index()

In [30]:
print(df3)

              Date              Country    total_cases   total_deaths  \
0       2020-01-01            Argentina  missing_value  missing_value
1       2020-01-01               Mexico  missing_value  missing_value
2       2020-01-02            Argentina  missing_value  missing_value
3       2020-01-02               Mexico  missing_value  missing_value
4       2020-01-03          Afghanistan  missing_value  missing_value
...            ...                  ...            ...            ...
311359  2023-05-18        South America  missing_value  missing_value
311360  2023-05-18          South Korea  missing_value  missing_value
311361  2023-05-18  Upper middle income  missing_value  missing_value
311362  2023-05-18              Uruguay  missing_value  missing_value
311363  2023-05-18                World  missing_value  missing_value

       total_vaccinations
0           missing_value
1           missing_value
2           missing_value
3           missing_value
4           missing_value
...                   ...
311359        957020867.0
311360      missing_value
311361       5415545806.0
311362          9021046.0
311363      13381892700.0

[311364 rows x 5 columns]

In [ ]:
"""
when we perform a 'groupby()' operation on df2 based on 'Date' and 'Country', and store the result in df3
The values in the 'Date' and 'Country' columns will represent unique combinations of dates and countries from 
the original DataFrame.
The other columns will contain the sum of their respective values for each group.
"""

In [32]:
#-------------------------------------------------{9}-------------------------------------------------

In [33]:
df3[['total_cases', 'total_deaths', 'total_vaccinations']] = df3[['total_cases', 'total_deaths', 'total_vaccinations']].replace('missing_value', 0)

In [34]:
print(df3)

              Date              Country  total_cases  total_deaths  \
0       2020-01-01            Argentina          0.0           0.0
1       2020-01-01               Mexico          0.0           0.0
2       2020-01-02            Argentina          0.0           0.0
3       2020-01-02               Mexico          0.0           0.0
4       2020-01-03          Afghanistan          0.0           0.0
...            ...                  ...          ...           ...
311359  2023-05-18        South America          0.0           0.0
311360  2023-05-18          South Korea          0.0           0.0
311361  2023-05-18  Upper middle income          0.0           0.0
311362  2023-05-18              Uruguay          0.0           0.0
311363  2023-05-18                World          0.0           0.0

        total_vaccinations
0             0.000000e+00
1             0.000000e+00
2             0.000000e+00
3             0.000000e+00
4             0.000000e+00
...                    ...
311359        9.570209e+08
311360        0.000000e+00
311361        5.415546e+09
311362        9.021046e+06
311363        1.338189e+10

[311364 rows x 5 columns]

In [35]:
# here we can see that the 'missing_value' is replaced with '0'

In [36]:
#-------------------------------------------------{10}-------------------------------------------------

In [37]:
# If we want the names of Total countries with deaths > 1000000 (with doublication):

df3.loc[df3['total_deaths'] > 1000000, "Country"]

62922                   World
63174                   World
63426                   World
63678                   World
63930                   World
                 ...
311253          North America
311299          South America
311326          United States
311328    Upper middle income
311337                  World
Name: Country, Length: 6770, dtype: object

In [38]:
# If we want the names of Total countries with deaths > 1000000 (unique):

df3.loc[df3['total_deaths'] > 1000000, "Country"].unique()

array(['World', 'High income', 'Upper middle income', 'Europe',
       'South America', 'Asia', 'Lower middle income', 'North America',
       'European Union', 'United States'], dtype=object)

In [39]:
# If we want the number of Total countries with deaths > 1000000 (with doublication):

df3.loc[df3['total_deaths'] > 1000000, "Country"].count()

6770

In [40]:
# If we want the number of Total countries with deaths > 1000000 (unique):

df3.loc[df3['total_deaths'] > 1000000, "Country"].nunique()

10

In [41]:
#-------------------------------------------------{11}-------------------------------------------------

In [42]:
# There are some doublicated dates , so to get the number of dates (the unique dates) :

number_of_dates = df3.loc[df3['total_deaths'] > 1000000]['Date'].nunique()
print(f"We have {number_of_dates} dates in total where total_deaths is greater than 1000000")

We have 981 dates in total where total_deaths is greater than 1000000

In [43]:
# If we want the total number (with doublication) :

number_of_dates = df3.loc[df3['total_deaths'] > 1000000]['Date'].count()
print(f"We have {number_of_dates} dates in total where total_deaths is greater than 1000000")

We have 6770 dates in total where total_deaths is greater than 1000000